<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="template">
<head>
<meta charset="utf-8" />
<title>Recompenses</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="col-md-5" style="margin-top:80px; margin-left:240px;">
			<div class="panel panel-primary">
				<div class="panel-heading">Consultation d'un challenge</div>
				<div class="panel-body">
					<form th:action="@{/consulterChallenge}" method="get"><!-- @RequestMapping("/consulterChallenge") -->
						<div>
							<label>Code Challenge:</label> <input type="text" name="codeChg"
								th:value="${codeChg}" />
							<button type="submit" class="btn btn-primary">Ok</button>
						</div>
					</form>
					<div class="text-danger" th:if="${exception}"
						th:text="${exception.message}"></div>
				</div> 
			</div>

			<div class="panel panel-primary" th:if="${challenge}">
				<div class="panel-heading">Informations sur le compte</div>
				<div class="panel-body">
					<div>
						<label>Client:</label> <label th:text="${challenge.description}"></label>
					</div>
					<div>
						<label>Code:</label> <label th:text="${challenge.statut}"></label>
					</div>
					<div>
						<label>Date Création:</label> <label th:text="${challenge.dateFin}"></label>
					</div>
					<div th:if="${challenge.type=='mission'}">
						<label>Mission:</label> <label>ok</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>