<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="template">
<head>
<meta charset="utf-8" />
<title>Collab</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Consultation d'un collaborateur</div>
				<div class="panel-body">
					<form th:action="@{/consulterCollaborateur}" method="get">
						<div>
							<label>Code Col:</label> <input type="text" name="codeCol"
								th:value="${codeCol}" />
							<button type="submit" class="btn btn-primary">Ok</button>
						</div>
					</form>
					<div class="text-danger" th:if="${exception}"
						th:text="${exception.message}"></div>
				</div> 
			</div>

			<div class="panel panel-primary" th:if="${collaborateur}"><!--  -->
				<div class="panel-heading">Informations sur le collab</div>
				<div class="panel-body">
					<div>
						<label>Nom:</label> <label th:text="${codeCol}"></label>
					</div>
				</div>
			</div> 
			
		</div>
	</div>
</body>
</html>