<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="template">
<head>
<meta charset="utf-8" />
<title>Challenges</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="col-md-5" style="margin-top:80px; margin-left:240px;">

			<div class="panel panel-primary">
				<div class="panel-heading">Delete challenge</div>
				<div class="panel-body">
					<form th:action="@{/deleteChallenge}" method="get">
						<div>
							<label>Code Challenges:</label> <input type="text" name="codeChg"
								th:value="${codeChg}" />
							<button type="submit" class="btn btn-primary">Delete</button>
						</div>
					</form>
					<div class="text-danger" th:if="${exception}"
						th:text="${exception.message}"></div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>