<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="template">
<head>
<meta charset="utf-8" />
<title>Missions</title>
</head>
<body>
	<div layout:fragment="content">

		<div class="col-md-6" style="margin-top:100px;margin-left:200px;">
			<div class="panel panel-primary">
				<div class="panel-heading">Consultation d'une mission</div>
				<div class="panel-body">
					<form th:action="@{/consulterMission}" method="get">
						<div>
							<label>Code Mission:</label> <input type="text" name="codeMission"
								th:value="${codeMission}" />
							<button type="submit" class="btn btn-primary">Ok</button>
						</div>
					</form>
					<div class="text-danger" th:if="${exception}"
						th:text="${exception.message}"></div>
				</div>
			</div>

			<div class="panel panel-primary" th:if="${mission}">
				<div class="panel-heading">Informations sur les missions</div>
				<div class="panel-body" >
				<div>
				<label>code:</label>
			    <label th:text="${mission.codeMission}"></label>
				</div>
				<div>
				<label>Etat:</label>
			    <label th:text="${mission.etat}"></label>
				</div>
				<div>
				<label>Collaborateur:</label>
			    <label th:text="${mission.utilisateur.nom}"></label>
				</div>
				<div>
				<label>Date creation:</label>
			    <label th:text="${mission.dateCreation}"></label>
				</div>
				</div>
			</div>

		</div>
		<div class="col-md-6" style="margin-left:200px;" th:if="${mission}">
			<div class="panel panel-primary">
				<div class="panel-heading">Ajout des taches</div>
				<div class="panel-body">
				<form th:action="@{/saveTache}" method="post">
							<div>
								<label>Mission:</label> 
								<input type="hidden" name="mission.codeMission" th:value="${mission.codeMission}" />
								<label th:text="${mission.codeMission}"></label>
							</div>
						
							<div>
								<label>Nom:</label> <input type="text" name="nom" />
							</div>
							<div>
								<label>Descriptif:</label> <input type="text" name="descriptif" />
							</div>
							<div>
								<label>dateCreation:</label> <input type="date" pattern="yyyy-MM-dd" name="dateCreation" />
							</div>
							<div>
								<label>temp:</label> <input type="text" name="temp" />
							</div>
							<div>
								<label>utilisateur:</label> <input type="text" name="code" />
							</div>
							<div class="text-danger"
								th:text="${#httpServletRequest.getParameter('error')}"></div>

							<button type="submit" class="btn btn-primary">Save</button>
				</form>
				
				</div>
			</div>

			<div class="panel panel-primary" th:if="${mission}">
				<div class="panel-heading">Liste des taches</div>
				<div class="panel-body">
				<div>
			    <table class="table table-striped">
						<tr>
							<th>Numéro</th>
							<th>Nom </th>
							<th>Date</th>
							<th>Durée</th>
							<!-- <th>pourcentage achevés</th> -->
							<th>Affécté pour</th>
						</tr>
						<tr th:each="o:${listOperations}">
							<td th:text="${o.code}"></td>
							<td th:text="${o.nom}"></td>
							<td th:text="${o.dateCreation}"></td>
							<td th:text="${o.temp}"></td>
							<!-- <td th:text="${o.pctg_acehvés}"></td> -->
							<td th:text="${o.utilisateur.nom}"></td>
						</tr>

					</table>
				</div>
				</div>
			</div>

		</div>
		
		</div>
</body>
</html>