<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="template">
<head>
<meta charset="utf-8"/>
<title>Recompenses</title>
</head>
<body>
	<div layout:fragment="content" >
		<div class="col-md-6" style="margin-top:80px; margin-left:240px;">
			<div class="panel panel-primary">
				<div class="panel-heading">Consultation d'un compte</div>
				<div class="panel-body">
					<form th:action="@{/consulterChallenge}" method="get"><!-- @RequestMapping("/consulterChallenge") -->
						<div>
							<label>Code Recompense:</label> <input type="text" name="codeChg"
								th:value="${codeChg}" />
							<button type="submit" class="btn btn-primary">Ok</button>
						</div>
					</form>
					<div class="text-danger" th:if="${exception}"
						th:text="${exception.message}"></div>
				</div> 
			</div>

			<div class="panel panel-primary" th:if="${challenge}">
				<div class="panel-heading">Informations sur le compte</div>
				<div class="panel-body">
					<div>
						<label>Client:</label> <label th:text="${challenge.description}"></label>
					</div>
					<div>
						<label>Code:</label> <label th:text="${challenge.statut}"></label>
					</div>
					<div>
						<label>Date Création:</label> <label th:text="${challenge.dateFin}"></label>
					</div>
					<div th:if="${challenge.type=='mission'}">
						<label>Mission:</label> <label>ok</label>
					</div>
				</div>
			</div> 

		</div>


		<div class="col-md-6">
			<div sec:authorize="hasRole('ROLE_ADMIN')">
				<div class="panel panel-primary" th:if="${challenge}">
					<div class="panel-heading">Opération sur le challenge</div>
					<div class="panel-body">
						<form th:action="@{/saveChallenge}" method="post">
							<div>
								<label>Challenge</label> <input type="hidden" name="codeChg"
									th:value="$codeChg}" /> <label th:text="${codeChg}"></label>
							</div>
							<div>
								<input type="radio" name="typeOperation" value="VERS"
									checked="checked"
									onChange="document.getElementById('forVirement').style.display='none'" />
								<label>Versement</label> <input type="radio"
									name="typeOperation" value="RETR"
									onChange="document.getElementById('forVirement').style.display='none'" />
								<label>Retrait</label> <input type="radio" name="typeOperation"
									value="VIR"
									onChange="document.getElementById('forVirement').style.display='block'" />
								<label>Virement</label>
							</div>
							<div id="forVirement" style="display: none">
								<label>Vers :</label> <input type="text" name="codeChg2" />
							</div>
							<div>
								<label>Montant :</label> <input type="text" name="montant" />
							</div>
							<div class="text-danger"
								th:text="${#httpServletRequest.getParameter('error')}"></div>

							<button type="submit" class="btn btn-primary">Save</button>
						</form>
					</div>
				</div>
			</div>

			<div class="panel panel-primary" th:if="${challenge}">
				<div class="panel-heading">Liste des challenges</div>
				<div class="panel-body">
					<table class="table table-striped">
						<tr>
							<th>Num</th>
							<th>Type</th>
							<th>Date</th>
							<th>Montant</th>
						</tr>
						<tr th:each="o:${listChallenges}">
							<td th:text="${o.name}"></td>
							<td th:text="${o.class.simpleName}"></td>
							<td th:text="${o.dateOperation}"></td>
							<td th:text="${o.montant}"></td>
						</tr>

					</table>
					<div class="container">
						<ul class="nav nav-pills">
							<li th:each="p,status:${pages}"><a
								th:href="@{/consulterChallenge(codeChg=${codeChg},page=${status.index})}"
								th:text="${status.index}"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- -->
	</div>
</body>
</html>