<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
<title>Mission</title>
<link rel="stylesheet" type="text/css"
href="../static/css/bootstrap.min.css"
th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
href="../static/css/myStyle.css"
th:href="@{/css/myStyle.css}" />
</head>
<body>

<header>
	<div class="navbar navbar-inverse">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li><a th:href="@{/missions}">Mission</a></li>
				<li><a th:href="@{/utilisateurs}">Liste des collaborateurs</a></li>
				<li><a th:href="@{/formation}">Formation</a></li>
				<li><a th:href="@{/compétances}">Compétance</a></li>
			
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a th:href="@{/login?logout}">Logout</a></li>
			</ul>
		</div>
	</div>
</header>


<section layout:fragment="content"></section>


<footer class="navbar-fixed-bottom">
	<small>Tableau de bord</small>
</footer>

</body>
</html>